In [1]:
from mongoengine import *

In [2]:
connect('test_db')

MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True, read_preference=Primary(), uuidrepresentation=3, driver=DriverInfo(name='MongoEngine', version='0.28.2', platform=None))

In [3]:
class Student(Document):
    first_name = StringField()
    last_name = StringField()
    email = EmailField()
    age = IntField()
    courses = ListField(StringField())
    phone = StringField()

In [4]:
student1 = Student(first_name='John', last_name='Dark', email='j.dark@yahoo.com', age=16, courses=['Math', 'Science'], phone='05464121631')

In [5]:
student1.save()

In [6]:
std1 = Student.objects(email='j.dark@yahoo.com')

In [7]:
std1

In [8]:
std1.update_one(set__phone='0123456')

1

In [9]:
# remove the phone key in the collection
std1.update(unset__phone=1)

1

In [10]:
std1.update_one(set__phone='0123456')

1

In [11]:
# increment age by 1
std1.update(inc__age=1)

1

In [12]:
# increment age by 10
std1.update(inc__age=10)

1

In [13]:
# decrement age by 11
std1.update(dec__age=11)

1

In [14]:
# update the courses array with new value in the collection
std1.update(push__courses='History')

1

In [15]:
# update the courses array with multiple new values in the collection
std1.update(push_all__courses=['Biology', 'Geology'])

1

In [17]:
# remove the last course value
std1.update(pop__courses=1)

1

In [18]:
# remove a particular value - History in the courses list
std1.update(pull__courses='History')

1

In [19]:
# remove multiple values - 'Math', 'Science' in the courses list
std1.update(pull_all__courses=['Math', 'Science'])

1

In [20]:
# add an element to the array - if element is already present in array it will not be readded
std1.update(add_to_set__courses=['Math'])

1

In [21]:
std1.update(add_to_set__courses=['Math'])

1

In [22]:
# update the email id
std1.update(email='j2.dark@yahoo.com')

1

In [23]:
# update the phone
std1.update(phone='0987654')

0

In [24]:
# update a particular id's phone no where email='j2.dark@yahoo.com'
std1 = Student.objects(email='j2.dark@yahoo.com')

In [25]:
std1.update(phone='0987654')

1

In [28]:
# update a particular id's courses no where email='j2.dark@yahoo.com'
std2 = Student.objects(email='j2.dark@yahoo.com').first()

In [29]:
std2.courses = ['Math', 'Science', 'History']

In [30]:
std2.save()